*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    font-family: 'Arial', sans-serif;
    line-height: 0.7;
}

.container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 10px;
   
    
}
.headings {
    background-color: aqua;
    grid-column: span 3;
    margin: 5px;
}
.infromations {
    background-color: bisque;
}

.personal-data {
         display: grid;
         grid-
}
ul li {
    list-style-type: none;
}